@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jakarta);
  --font-mono: var(--font-geist-mono);
  --color-primary: #cc601c;
  --color-primary-50: #e7914b;
  --color-primary-100: #e08744;
  --color-primary-200: #d87d3c;
  --color-primary-300: #d17235;
  --color-primary-400: #ca682e;
  --color-primary-500: #c25e26;
  --color-primary-600: #bb541f;
  --color-primary-700: #b44918;
  --color-primary-800: #ac3f10;
  --color-primary-900: #a53509;
  --color-white: #f3f4f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta), Arial, Helvetica, sans-serif;
}
